@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Roboto:ital@1&family=Sofia+Sans&family=Source+Sans+Pro&display=swap');/*
    use fonts
    font-family: 'Catamaran', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

    https://drive.google.com/uc?export=download&id=1kXjq5Oik5YSPafbIFd98reqEM-6Os1t_
*/

*{
    margin: 0;

}
.nav-bar{
    width: 100%;
    height: 50px;
    background-color: #8a00c2;
    padding: 22px 0 0 0;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}
.box-container{
    margin: 0 250px 0 250px;
}
.nav-bar .title{
    font-size: 25px;
}
.nav-bar .body .version{
    text-align: right;
    margin-top: -30px;
    height: 20px;
}
.nav-bar .body .version .version-text{
    padding-right: 10px;
}
.download-btn{
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    transition: 0.5s;
}
.download-btn:hover{    
    color: #8a00c2;
    background-color: white;
    cursor: pointer;
}
.home-content{
    color: black;
    margin-top: 30px;    
}
.home-content .title{
    font-size: 35px;
    font-family: 'Sofia Sans', sans-serif;
}
.home-content .body{
    margin: 20px 0 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.code-space{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    padding: 20px 0 30px 15px;
    margin-top: 25px;
    font-family: 'Catamaran', sans-serif;
}

hr{
    border: 0.5px solid rgb(236, 236, 236);
    border-radius: 20%;
}
a{
    color: rgb(0, 88, 204);
    
}
.footer-page{
    font-size: 18px;
    font-family: 'Sofia Sans', sans-serif;
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 35px;
    border-top: 1px solid rgb(190, 190, 190);
    text-align: center;
    padding-top: 15px;
}
.footer-page a{
    text-decoration: none;
}
.index-content{
    margin: 50px 0 50px 0;
    font-family: 'Sofia Sans', sans-serif;
}
.index-img{
    width: 250px;
    border-radius: 10px;
    margin-left: 465px;
}
.index-content .title{
    margin: 40px 0 35px 0;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 40px;
}
.index-content .body{
    margin: 40px 0 40px 0;
}
.site-grid1{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b";
    padding: 45 45 45 45;
    margin-top: 40px;
    margin-bottom: 20px;
}
.site-grid1 .item1, .item2 .body {
    margin: 10px 40px 10px 40px;
    font-size: 20px;
}

.tag-tbl tr td{
    padding: 10px 20px 10px 20px;
}
.get-start-btn{
    margin: 50px 30px 50px 30px;
    padding: 20px 50px 20px 50px;
    border: 2px solid #8a00c2;
    background: none;
    color: #8a00c2;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.5s;
}
.get-start-btn:hover{
    background-color: #8a00c2;
    color: white;
    cursor: pointer;
}
.footer-content{
    background-color: #8a00c2;
    width: 100%;
    height: 400px;
    font-family: 'Sofia Sans', sans-serif;
    color: white;
}
.footer-grid{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d";
    padding: 45 45 45 45;
    margin-top: 40px;
    margin-bottom: 20px;
}

.fitem1{
    grid-area: a;
}
.fitem2{
    grid-area: b;
}

.fitem3{
    grid-area: c;
}

.fitem4{
    grid-area: d;
}


.footer-logo{
    border-radius: 5px;
    width: 50px;

}
.fitem1 .title{
    padding-top: 15px;
    font-size: 20px;    
}
.fitem1 .body{
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
}
.fitem2, .fitem3, .fitem4 .title{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}
.fitem2 .body{
    text-align: left;    
    font-size: 15px;
    margin-top: 20px;
}
.fitem2 .body ul{
    list-style-type: none;
}
.fitem2 .body ul a{
    color: white;
}
/* 
    ***************************************************************************************

                             commen laptop screen and small screens

                                            769px - 1400px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 821px) and (max-device-width: 1400px) {
    .box-container{
        margin: 0 200px 0 200px;
    }    
    .index-img{
        margin-left: 360px;
    }
}

/* 
    ***************************************************************************************

                                        iPads, Tablets

                                        481px — 768px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 481px) and (max-device-width: 820px) {}

/* 
    ***************************************************************************************

                                     commen mobile screen

                                            320x480

    ***************************************************************************************
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}
