@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Sofia+Sans&family=Source+Sans+Pro&display=swap');

/*
    use fonts
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
*/

*{
    margin: 0;
}
.nav-bar{
    width: 100%;
    height: 50px;
    background-color: #8a00c2;
    padding: 22px 0 0 0;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}
.box-container{
    margin: 0 250px 0 250px;
}
.nav-bar .title{
    font-size: 25px;
}
.nav-bar .body .version{
    text-align: right;
    margin-top: -30px;
    height: 20px;
}
.nav-bar .body .version .version-text{
    padding-right: 10px;
}
.download-btn{
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    transition: 0.5s;
}
.download-btn:hover{    
    color: #8a00c2;
    background-color: white;
    cursor: pointer;
}
.home-content{
    color: black;
    margin-top: 30px;    
}
.home-content .title{
    font-size: 35px;
    font-family: 'Sofia Sans', sans-serif;
}
hr{
    border: 0.5px solid rgb(236, 236, 236);
    border-radius: 20%;
}



/* 
    ***************************************************************************************

                             commen laptop screen and small screens

                                            769px - 1400px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 821px) and (max-device-width: 1400px) {}

/* 
    ***************************************************************************************

                                        iPads, Tablets

                                        481px — 768px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 481px) and (max-device-width: 820px) {}

/* 
    ***************************************************************************************

                                     commen mobile screen

                                            320x480

    ***************************************************************************************
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}
