@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap');
.jk-green-btn,
.jk-blue-btn {
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: 0.5s;
}

.jk-green-btn {
    background-color: rgb(15, 187, 15);
}

.jk-blue-btn {
    background-color: rgb(49, 140, 243);
}

.jk-blue-btn:hover {
    background-color: rgb(40, 114, 199);
    cursor: pointer;
}

.jk-green-btn:hover {
    background-color: rgb(14, 165, 14);
    cursor: pointer;
}
